.info__container {
    max-width: 1280px;
    margin: 0 auto 0;
    width: 68.75%;
    display: flex;
    flex-direction: column;
}

.info__box {
  display: flex;
  justify-content: space-between;
}

.info__title {
  text-align: center;
  font-size: 56px;
  font-weight: 400;
}

.info__phone {
  font-size: 32px;
  font-weight: 400;
}

.info__address {
  font-size: 20px;
  font-weight: 400;
}

.info__email {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.info__email:hover {
  cursor: pointer;
  color: rgba(143, 181, 57, 1);
}

.info__map {
  width: 100%;
  height: 500px;
}