.footer {
  background-color: #eceff1;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  margin-top: 180px;
}

.footer__container {
  padding: 120px 0 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto 0;
  width: 68.75%;
}

.footer__container {
  padding: 120px 0 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto 0;
  width: 68.75%;
}

.footer__links {
  text-decoration: none;
  color: #000000;
  margin: 0;
  font-weight: 500;
}

.footer__links:hover {
  color: rgba(143, 181, 57, 1);
}

.footer__padding {
  padding: 30px 0 30px;
}

.footer__margin {
  margin-top: 60px;
}

.footer__copyright {
  color: #000000;
  margin: 0;
  font-size: 16px;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  /* padding: 30px 60px; */
  box-shadow: 1px 3px  18px rgba(0, 0, 0, .7);
  position: absolute;
  top: -80px;
  background-color: #ffffff;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 0;
  width: 68.75%;
}

.contact__container_no-active {
  display: none;
}

.contact__phone {
  font-size: 32px;
  margin: 0;
  padding: 30px 0 30px 60px;
}

.contact__address {
  font-size: 20px;
  margin: 0;
}

.contact__email {
  font-size: 20px;
  margin: 0;
}

.contact__span {
  text-decoration: underline;
}

.contact__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 60px 30px 0;
}

.footer__drop-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  font-size: 16px;
  gap: 10px;
}

.footer__link {
  font-size: 14px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
}

.footer__link:hover {
  color: rgba(143, 181, 57, 1);
}

@media screen and (max-width: 1425px){
  .footer__nav {
    grid-template-columns: repeat(4, 150px);
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .contact__phone {
    font-size: 26px;
  }
  
  .contact__address {
    font-size: 14px;
  }
  
  .contact__email {
    font-size: 14px;
  }
}

@media screen and (max-width: 1110px){
  .footer__link {
    display: none;
  }

  .footer__nav {
    grid-template-columns: repeat(4, 120px);
    font-size: 14px;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__phone {
    padding: 20px 0 0 0;
  }

  .contact__box {
    gap: 10px;
    margin-top: 10px;
    padding: 0 0 20px 0;
  }

  .contact__address {
    text-align: center;
  }
  
  .contact__email {
    text-align: center;
  }
}

@media screen and (max-width: 940px){
  .footer__container {
    flex-direction: column;
    padding-top: 80px;
  }

  .footer__copyright {
    margin-top: 20px;
  }

  .footer__nav {
    grid-template-columns: none;
    grid-template-rows: 4;
  }
}

@media screen and (max-width: 650px){
  .contact__phone {
    font-size: 20px;
  }

  .contact__address {
    font-size: 14px;
  }
  
  .contact__email {
    font-size: 14px;
  }
}