#menu_checkbox {
  display: none;
}

label {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

label div {
  position: relative;
  top: 0;
  height: 6px;
  background-color: #000000;
  margin-bottom: 12px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label div:first-child {
  transform-origin: 0;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 48px;
}

label div:nth-child(2) {
  right: 0;
  width: 40x;
}

#menu_checkbox:checked + label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 80px;
  top: 4px;
  right: 13px;
  transform: rotateZ(-45deg);
}

.burger__menu {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  position: absolute;
  top: 140px;
  z-index: 99;
  width: 100%;
  max-width: 830px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.burger__links {
  padding-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.burger__links:hover {
  color: rgba(143, 181, 57, 1);
}

.burger__active {
  display: none;
}

@media screen and (max-width: 830px){
  .burger__active {
    display: block;
  }
}