.header {
background-color: #ffffff;
border-bottom: 1px solid;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto 0;
  width: 68.75%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: 100px;
}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__links {
	position: relative;
	color: #000000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;

}
.header__links:after {
	display: block;
	position: absolute;
  bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgba(10,96,254,1);
	content: "";
	transition: width 0.3s ease-out;
}

.header__links:hover:after,
.header__links:focus:after {
	width: 100%;
}

.header__burger {
  display: none;
  width: 34px;
}

.header__burger:hover {
  cursor: pointer;
}

@media screen and (max-width: 660px){
  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }
}
